body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #296c74;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.weather-card {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  background: #5b8b8e34;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgb(75, 160, 160);
  font-family: 'Segoe UI', sans-serif;
  color: #f1eded;
}
form {
  margin-left: 150px;
}

.App {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.App-header {
  color: #f8f7f9;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

form input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #5091a2;
  font-size: 1rem;
  width: 60%;
}

form button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #ebe4e8;
  color: rgb(130, 182, 186);
  font-size: 1rem;
  cursor: pointer;
}

.data {
  color: #e3e5ec;
  font-weight: 600;
}
